body
{
	background-color:#EEEEEE;
}

#pageBody
{
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #999999;
	padding: 10px 10px 20px 10px;
	background-color:#FFFFFF;
}
#pageNavigation a
{
	font-family:Verdana;
	font-size:16px;
	color:#6a6a6a;
	text-decoration:none;
	padding: 0px 20px 2px 20px;
}
#pageNavigation a:hover
{
	color:#276ba5;
}
#pageNavigation a:visted
{
	color:#276ba5;
}
hr
{
	border-style:dashed;
	color:#666666;
}
#pageContent
{
	font-family:Verdana;
	font-size:14px;
}
.ErrorMsgs
{
	color:#FF0000;
}

h1
{
	color:#276ba5;
	font-size:18px;
	padding:0px;
}
h2
{
	color:#276ba5;
	font-size:16px;
	padding:0px;
}
a
{
	font-family:Verdana;
	font-size:14px;
	color:#222222;
	text-decoration:none;
}
a:hover
{
	color:#276ba5;
}
a:visted
{
	color:#276ba5;
}

a.item
{
	color:#276ba5;
	font-family:Verdana;
	font-size:12px;
	text-decoration:none;
}
.itemRow
{
	font-size:12px;
	font-family:Verdana;
	text-align:center;
}
.itemRowOdd
{
	background-color:#DDDDDD;
}
.rowHeader
{
	font-size:14px;
	font-family:Verdana;
	text-align:center;
	background-color:#444444;
	color:#FFFFFF;
}
.rowHeader td
{
	padding:3px;
}